@import 'tailwindcss';

@source '../views/';

@theme {
    --spacing: 0.25rem;

    --color-primary: rgb(37, 99, 235);
    --color-secondary: rgb(79, 70, 229);
    --color-success: rgb(22, 163, 74);
    --color-danger: rgb(220, 38, 38);
    --color-warning: rgb(217, 119, 6);
    --color-info: rgb(8, 145, 178);

    --color-dark: #3b3f5c;
    --color-dark-light: #eaeaec;

    --color-white-light: #e0e6ed;
    --color-white-dark: #888ea8;
}

/* sorting */

.dataTable-sorter {
    @apply relative inline-block h-full w-max ltr:pr-7 ltr:before:right-1 ltr:after:right-1 rtl:pl-7 rtl:before:left-1 rtl:after:left-1;
}

.dataTable-sorter::before,
.dataTable-sorter::after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    opacity: 0.2;
}

.dataTable-sorter::before {
    border-top: 5px solid #0e1726;
    bottom: 4px;
}

.dataTable-sorter::after {
    border-bottom: 5px solid #0e1726;
    border-top: 5px solid transparent;
    top: -2px;
}

.dark .dataTable-sorter::after {
    border-bottom-color: #ffffff;
}

.dark .dataTable-sorter::before {
    border-top-color: #ffffff;
}

.asc .dataTable-sorter::after {
    @apply border-b-primary opacity-100;
}

.desc .dataTable-sorter::before {
    @apply border-t-primary opacity-100;
}

/* dropdown */
.dropdown {
    @apply relative;
}

.dropdown > button {
    @apply flex;
}

.dropdown ul {
    @apply dark:text-white-dark absolute z-10 mt-1 min-w-[120px] rounded bg-white p-0 py-2 text-black shadow dark:bg-[#1b2e4b];
    /* @apply my-1 min-w-[120px] rounded bg-white p-0 py-2 shadow dark:bg-[#1b2e4b]; */
}

.dropdown ul li > a,
.dropdown ul li > button {
    @apply hover:bg-primary/10 hover:text-primary flex items-center px-4 py-2;
}

.dropdown ul li > button {
    @apply w-full;
}

/* tables */
.table-responsive {
    @apply overflow-auto;
}

table {
    @apply w-full !border-collapse;
}

table thead tr,
table tfoot tr {
    @apply border-b-0 !bg-[#f6f8fa] dark:!bg-[#1a2941];
}

table thead tr th,
table tfoot tr th,
table tbody tr td {
    @apply px-2 py-2 ltr:text-left rtl:text-right;
}

table thead tr th,
table tfoot tr th {
    @apply font-semibold;
}

table tbody tr {
    @apply !border-white-light/40 border-b dark:!border-[#191e3a];
}

table.table-hover tbody tr {
    @apply hover:!bg-white-light/20 dark:hover:!bg-[#1a2941]/40;
}

table.table-striped tbody tr:nth-child(odd) {
    @apply !bg-white-light/20 dark:!bg-[#1a2941]/40;
}

table.dataTable-table tbody tr th,
table.dataTable-table tbody tr td {
    @apply border-b border-[#e5e7eb] px-2 py-2 ltr:text-left rtl:text-right dark:border-[#191e3a];
}

table.dataTable-table tbody tr:last-child td {
    @apply border-b-0;
}

.dataTable-pagination button {
    display: grid;
    height: 2.25rem;
    width: 2.25rem;
    place-content: center;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(224 230 237 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(59 63 92 / var(--tw-text-opacity, 1));
}

.dataTable-pagination .active button {
    cursor: default;
    --tw-bg-opacity: 1;
    background-color: rgb(67 97 238 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}